* {
  font-family: Helvetica;
  text-align: center;
}

.top-section {
  color: white;
}

.nav-text {
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

.middle-section {
  background-color: white;

}

h3 {
  font-size: 32px
  font-wight: bold;
}

h5 {
  font-size: 23px
  font-weight: bold;
}

h6 {
  font-size: 14px;
}

.copy-right {
  text-align: left;
  font-size: 11px;
}
