* {
  font-family: Helvetica;
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-position: top, center;
}

.top-section {
  color: white;
}

.nav-text, a {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

h3 {
  font-size: 32px
  font-wight: bold;
}

h6 {
  font-size: 14px;
}

#copy-right {
  text-align: left;
  font-size: 11px;
}

.bottom-nav, a {
  text-align: left;
  color: black;
  font-size: 14px;
}
