* {
  font-family: Helvetica;
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-position: top, center;
  background-size: 1830px 325px;

}

.menu, a {
  flex-direction: column;
  color: white;
  font-size: 18px;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.h3 {
  font-size: 23px
  font-weight: bold;
}

p {
  font-size: 14px;
}

#copy-right {
  text-align: left;
  font-size: 11px;
}

.footer, a {
  text-align: left;
  color: white;
  font-size: 14px;
}

.footer {
  background-color: dimgray;
}
